<h1>New Message</h1>

<% if @message.errors.any? %>
<p>You suck!</p>
<ul>
<% @message.errors.full_message.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>



<%= form_tag messages_path do %>
  <%= label_tag :to %>
  <%= collection_select :to, :contact_phone_numbers, @contacts, :phone_number, :name, {}, {:multiple => true} %>
  <%= label_tag :from %>
  <%= text_field_tag :from %>
  <%= label_tag :body %>
  <%= text_field_tag :body %>
  <%= submit_tag :submit %>
<% end %>
