<h1>New Message</h1>

<% if @message.errors.any? %>
<p>You suck!</p>
<ul>
<% @message.errors.full_message.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>



<%= form_for @message do |f| %>
  <%= f.label :to %>
  <%= text_field :to %>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit :submit %>
<% end %>
